h2,p{
    text-align: center;
}

#hidden {
   display: none;
   margin: auto;
}
#hidden table {
    width: 100%;
    text-align:center;
}
#hidden table button {
    width: 25%;
    height: 50px;
    background-color: rgba(154,204,255,0.2);
    border-radius: 20px;
}
